{{ define "page" }}
<article class="container">
  <h1>{{ .Title }}</h1>
  {{ range .Sections }}
  <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <ul>
    {{ range .Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ or .Title .RelPermalink }}</a>
      </li>
    {{ end }}
  </ul>
  {{ end }}
  <!-- <h2>Other</h2> -->
  <!-- <ul> -->
  <!--   {{ range .RegularPages }} -->
  <!--     <li> -->
  <!--       <a href="{{ .RelPermalink }}">{{ or .Title .RelPermalink }}</a> -->
  <!--     </li> -->
  <!--   {{ end }} -->
  <!-- </ul> -->
</article>
{{ end }}
